<html>
    <head>
        <title>Blog Django Girls</title>
    </head>
    <body>
        <div>
            <div>
    <h1><a href="/">Django Girls Blog</a></h1>
</div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p> ta funcionando bb, vem na minha que é sucesso.</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p> nos aqui estamos pra brincar com vc, tem muita diversão e coisas pra se fazer. </p>
        </div>
    </body>
</html>